.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;

}
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 45px;
    margin: 50px;
}
.cart-container{
    background-color: #FF99004D;
    padding: 0px 30px;
}
.cart-info{
    padding: 10px;
    position:sticky;
    top: 0;
}


@media screen and (max-width: 576px) {
    .shop-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: relative;
    }
    .products-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 15px;
        margin: 10px;
    }
    .cart-container{
        padding: 5px 10px;

    }
    .cart-info{
        position:sticky;
        top: 0;
    }
}


@media screen and (min-width: 577px) and ( max-width:986px) {
    .shop-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: relative;
    }
    .products-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        margin: 15px;
    }
    .cart-container{
        padding: 10px 15px;
    }
}