.header{
    height: 80px;
    background-color: #1C2B35;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}

nav.header a{
    text-decoration: none;
    color: #FFFFFF;
    margin-left: 30px;
}
nav.header a:hover{
    color: orange;
}

@media screen and (max-width: 576px) {
    .header{
        padding: 10px 10px;
        margin: 0;
        display: block;
    }
}
@media screen and (min-width: 577px) and (max-width: 986px) {
    .header{
        padding: 0 20px;
    }
}